<h2>Eventos</h2>
<hr>
<div id="events" class="">

</div>
<script type="text/template" id="template-events">
  {{ _.each( listItems, function( l ){ }}
      <div class="box panel panel-default masonry-brick">
          {{ if (l.tipo == 'hemorragia'){ }}
            <a href="#"><img src="https://s3.amazonaws.com/comadronas/hemorragia.png" alt="Astronauta2"></a>
          {{ } else if( l.tipo == 'ataques'){ }}
            <a href="#"><img src="https://s3.amazonaws.com/comadronas/Ataques-y-convulsiones.png" alt="Astronauta2"></a>
          {{ } else if( l.tipo == 'infeccion'){ }}
            <a href="#"><img src="https://s3.amazonaws.com/comadronas/infeccion.png" alt="Astronauta2"></a>
          {{ } }}

            <div class="panel-body">
              <strong>{{= l.usuario }}</strong>
              <br>
              {{= l.telefono }}
              <br>
              {{= l.fecha }}
              <br>
              {{= l.tipo }}
              <br>
            </div>
      </div>
  {{ }); }}
</script>
