<h2>Eventos</h2>
<hr>
<div class="">

  <% @eventos.each_with_index do |c, index| %>
    <div class="box panel panel-default masonry-brick">
          <a href="/pins/21"><img src="https://s3.amazonaws.com/fotoscomadronas/cards+para+website/Delicado.png" alt="Astronauta2"></a>
          <div class="panel-body">
            <strong>Diego</strong><br>
            Hola mundo<br>
            Mayaland 123<br>
            tapachula<br>
            000<br>
            2015-12-23 17:17:15 UTC<br>

          </div>
    </div>
  <% end %>
</div>
