<h2>Eventos</h2>
<hr>
<div id="events" class="">

</div>
<script type="text/javascript">
  loadEvents()
</script>
<script type="text/template" id="template-events">
  {{ _.each( listItems, function( l ){ }}
      <div data-id="{{= l.id}}" class="box panel {{ if(l.status == true){ print('box-danger') } }} masonry-brick">
          {{ if (l.tipo == 'hemorragia'){ }}
            <a href="#"><img src="https://s3.amazonaws.com/comadronas/hemorragia.png" alt="Astronauta2"></a>
          {{ } else if( l.tipo == 'ataques'){ }}
            <a href="#"><img src="https://s3.amazonaws.com/comadronas/Ataques-y-convulsiones.png" alt="Astronauta2"></a>
          {{ } else if( l.tipo == 'infeccion'){ }}
            <a href="#"><img src="https://s3.amazonaws.com/comadronas/infeccion.png" alt="Astronauta2"></a>
          {{ } }}

            <div class="panel-body">
              {{ if(l.status == true){ }}
                <span class="label label-danger blink_me">Emergencia</span>
              {{ }else{ }}
                <span class="label label-success">Gestionada</span>
              {{ } }}
              </br>
              <strong>{{= l.usuario }}</strong>
              <br>
              <b>Tel: </b>{{= l.telefono }}
              <br>
              <b>Fecha ingreso: </b><br> {{= l.fecha }}
              <br>
              <b>Fecha gestion: </b><br> {{= l.updated_at }}
              <br>
              <b>Tipo: </b>{{= l.tipo }}
              <br>
            </div>
      </div>
  {{ }); }}
</script>
