

      <div class="row">
        </div>
    </div>

<div class="block-secondary app-high-praise p-b-0">
  <div class="container">
    <div class="row app-align-center">
      <div class="col-sm-5 col-sm-push-7">
        <h6 class="text-muted text-uppercase">¿Qué es partomaya.org?</h6>
        <h3 class="m-t-0 m-b-md">
          Es una aplicación gratuita que ofrece un medio para salvar vidas de las
          mujeres durante las complicaciones del trabajo de parto y el parto.
          Ofrece una interacción inmediata entre la comadrona tradicional y los
          servicios de salud. Ayuda a la comadrona tradicional a detectar y referir
          oportunamente cualquier emergencia obstétrica que se presente durante el
          trabajo de parto y el parto de la mujer en la comunidad.
          Es también un instrumento educativo y de crecimiento personal
          para la comadrona tradicional.
        </h3>
        <p class="m-b-md text-muted">Julia Poc Xicay, Comadrona</p>




      </div>
      <div class="col-sm-6 col-sm-pull-5">
        <img src="https://s3.amazonaws.com/comadronas/mujer+comadrona.jpg">

      </div>
    </div>
  </div>
</div>

<div class="app-ribbon p-y-lg">
  <div class="container text-center">
    <img src="https://s3.amazonaws.com/comadronas/LOGO+MINSALUD+(1).jpg">
    <img src="https://s3.amazonaws.com/comadronas/Copia+de+juna-a-kaslen.jpg">
  </div>
</div>

<br>
<br>


<div class="block-secondary app-block-marketing-grid">
  <div class="container text-center">

    <div class="row m-b-lg">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
        <h6 class="text-muted text-uppercase">Un poco acerca de cómo funciona partomaya.org</h6>
        <h3  class="m-t-0 m-b">La aplicación gratuita permite enviar mensajes por:</h3>
      </div>
    </div>

    <div class="row app-marketing-grid">
      <div class="col-sm-4 p-x-md m-b-lg">
        <img class="m-b" src="https://s3.amazonaws.com/comadronas/unnamed.jpg">
        <p><strong>Hemorragia</strong> Necesito ayuda
        </p>
      </div>
      <div class="col-sm-4 p-x-md m-b-lg">
        <img class="m-b" src="https://s3.amazonaws.com/comadronas/unnamed-1.jpg">
        <p><strong>Hemorragia</strong> Placenta no sale
        </p>
      </div>
      <div class="col-sm-4 p-x-md m-b-lg">
        <img class="m-b" src="https://s3.amazonaws.com/comadronas/unnamed-2.jpg">
        <p><strong>Hemorragia</strong> Abundante sangre</p>
      </div>
    </div>
    <div class="row app-marketing-grid">
      <div class="col-sm-4 p-x-md m-b-lg">
        <img class="m-b" src="https://s3.amazonaws.com/comadronas/unnamed-3.jpg">
        <p><strong>Infeccion</strong>
        </p>
      </div>
      <div class="col-sm-4 p-x-md m-b-lg">
        <img class="m-b" src="https://s3.amazonaws.com/comadronas/unnamed-4.jpg">
        <p><strong>Convulsiones</strong>
        </p>
      </div>
    </div>
  </div>
</div>

<br>
<br>
