// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home_login{
  padding-top: 5% !important;
}
.dashboard-container{
  padding-top: 7%;
  h1,h2{
    margin-top: 0px;
  }
}
.box{
  width: 215px;
  float: left;
  margin-right: 10%;
  &:last-child{
    margin-right: 0%;
  }
  img{
    width: 215px;
  }
}
