// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home_login{
  padding-top: 5% !important;
}
.dashboard-container{
  padding-top: 5%;
  h1{
    margin-top: 0px;
  }
}
