<div class="block app-footer">
 <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 m-b-md">
        <ul class="list-unstyled list-spaced">
          <li class="m-b"><h6 class="text-uppercase">Acerca de nosotros</h6></li>
          <li class="text-muted text-justify">
            Somos una organización dedicada a mejorar la salud materna,
            especialmente de aquellas mujeres que viven en área rural,
            son mayas y pobres. Nuestra organización se ha dedicado durante
            los últimos años a identificar, aplicar y monitorear estrategias
            de prevención de la muerte materna. Nuestras innovaciones
            coordinan la aplicación tecnológica, social y de oportunidad de
            negocio para desarrollar y encontrar soluciones a los cambios globales
            de las salud pública que hacen falta. Esta aplicación facilitará
            el acceso comunitario a los servicios de salud y salvará vidas
            de madres y recién nacidos.
            Correo electrónico: ciesar@ciesar.org.gt
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
